ul {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0; 
}

.nav-tabs>li {
	width: 100%;
}

.nav-tabs>li>a {
	width: 100%;
	color: #3e444d;
	vertical-align: middle; 
	background-color: white;
	border: 1px solid #ced7e0;
	text-transform: uppercase;
}

.nav-tabs>li>a>h3 { 
	font-size: 13px;
	margin: 0;
}

.nav-tabs>li>a>p {
	display: inline-block;
	font-size: 13px; 
	margin: 0;
}

@media (min-width: 992px) {

ul.nav.nav-tabs li {
	display: inline-block;
	float: none;
}	
 
.nav-tabs {
	border-bottom: none;
}
.nav-tabs>li {
	top: -22px;
	margin: 0 15px;
	width: inherit;

}

.nav-tabs>li::active {
	top: -10px;
}

.nav-tabs>li>a {
	color: #3e444d;
	display: table-cell;
	vertical-align: middle; 
	font-size: 25px;
	border-radius: 50%;
	height: 125px;
	width: 125px;
	max-width: 125px;
	background-color: white;
	border: 1px solid #ced7e0;
	text-transform: uppercase;

	-webkit-transition: top 5s ease;
    -moz-transition: top 5s ease;
    -o-transition: top 5s ease;
    transition: top 5s ease;
	
}

.nav-tabs>li>a>h3 {
	font-size: 24px;
	margin: 0;
	display: block;
}

.nav-tabs>li>a>p {
	font-size: 13px; 
	margin: 0;
	display: block;
}

.nav-tabs>li.active>a>p, .nav-tabs>li.active>a:focus>p {
	font-size: 15px; 
}
/*.nav-tabs>li:first-child {
	margin-left: 90px;
}*/

ul.nav.nav-tabs.text-center::before {
	display: block;
	border-bottom: 1px solid #ced7e0;
	margin: 65px 0 -65px;

}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
	color: white;
	background-color: #568f99;
	height: 150px;
	width: 150px;
	max-width: 150px;
	top: 10px;
	border: 1px solid #ced7e0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: #568f99;
	color: white;
	border: none;
}

.nav > li > a:hover, .nav > li > a:focus {
	background: #ced7e0;
	border: 1px solid #ced7e0;
}

.tab-content {
	margin: -20px 0 100px 0;
}
}
